In [1]:
import pandas as pd

In [2]:
# contains each players personal information
master_df = pd.read_csv('data/baseballdatabank-master/core/People.csv')

In [3]:
master_df.head().T

,0,1,2,3,4
playerID,aardsda01,aaronha01,aaronto01,aasedo01,abadan01
birthYear,1981,1934,1939,1954,1972
birthMonth,12,2,8,9,8
birthDay,27,5,5,8,25
birthCountry,USA,USA,USA,USA,USA
birthState,CO,AL,AL,CA,FL
birthCity,Denver,Mobile,Mobile,Orange,Palm Beach
deathYear,NaN,NaN,1984,NaN,NaN
deathMonth,NaN,NaN,8,NaN,NaN
deathDay,NaN,NaN,16,NaN,NaN
deathCountry,NaN,NaN,USA,NaN,NaN
deathState,NaN,NaN,GA,NaN,NaN
deathCity,NaN,NaN,Atlanta,NaN,NaN
nameFirst,David,Hank,Tommie,Don,Andy
nameLast,Aardsma,Aaron,Aaron,Aase,Abad
nameGiven,David Allan,Henry Louis,Tommie Lee,Donald William,Fausto Andres
weight,215,180,190,190,184
height,75,72,75,75,73
bats,R,R,R,R,L
throws,R,R,R,R,L
debut,2004-04-06,1954-04-13,1962-04-10,1977-07-26,2001-09-10
finalGame,2015-08-23,1976-10-03,1971-09-26,1990-10-03,2006-04-13
retroID,aardd001,aaroh101,aarot101,aased001,abada001
bbrefID,aardsda01,aaronha01,aaronto01,aasedo01,abadan01

In [4]:
master_df[master_df['playerID'] == 'martida01']

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
10879,martida01,1964.0,9.0,26.0,USA,NY,New York,NaN,NaN,NaN,...,Martinez,David,150.0,70.0,L,L,1986-06-15,2001-10-07,martd002,martida01

In [5]:
batting_df = pd.read_csv('data/baseballdatabank-master/core/Batting.csv')

In [6]:
batting_df.head().T

                  0         1          2          3          4
playerID  abercda01  addybo01  allisar01  allisdo01  ansonca01
yearID         1871      1871       1871       1871       1871
stint             1         1          1          1          1
teamID          TRO       RC1        CL1        WS3        RC1
lgID            NaN       NaN        NaN        NaN        NaN
G                 1        25         29         27         25
AB                4       118        137        133        120
R                 0        30         28         28         29
H                 0        32         40         44         39
2B                0         6          4         10         11
3B                0         0          5          2          3
HR                0         0          0          2          0
RBI               0        13         19         27         16
SB                0         8          3          1          6
CS                0         1          1          1          2
BB                0         4          2          0          2
SO                0         0          5          2          1
IBB             NaN       NaN        NaN        NaN        NaN
HBP             NaN       NaN        NaN        NaN        NaN
SH              NaN       NaN        NaN        NaN        NaN
SF              NaN       NaN        NaN        NaN        NaN
GIDP              0         0          1          0          0

In [7]:
# batting_df[batting_df['stint'] > 1].sort_values('stint')
batting_df[batting_df['playerID'] == 'martida01'].sort_values('yearID')

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
63816,martida01,1986,1,CHN,NL,53,108,13,15,1,...,7.0,4.0,2.0,6,22.0,0.0,1.0,0.0,1.0,1.0
64846,martida01,1987,1,CHN,NL,142,459,70,134,18,...,36.0,16.0,8.0,57,96.0,4.0,2.0,1.0,1.0,4.0
65881,martida01,1988,1,CHN,NL,75,256,27,65,10,...,34.0,7.0,3.0,21,46.0,5.0,2.0,0.0,4.0,2.0
65882,martida01,1988,2,MON,NL,63,191,24,49,3,...,12.0,16.0,6.0,17,48.0,3.0,0.0,2.0,1.0,1.0
66943,martida01,1989,1,MON,NL,126,361,41,99,16,...,27.0,23.0,4.0,27,57.0,2.0,0.0,7.0,1.0,1.0
68045,martida01,1990,1,MON,NL,118,391,60,109,13,...,39.0,13.0,11.0,24,48.0,2.0,1.0,3.0,2.0,8.0
69160,martida01,1991,1,MON,NL,124,396,47,117,18,...,42.0,16.0,7.0,20,54.0,3.0,3.0,5.0,3.0,3.0
70222,martida01,1992,1,CIN,NL,135,393,47,100,20,...,31.0,12.0,8.0,42,54.0,4.0,0.0,6.0,4.0,6.0
71354,martida01,1993,1,SFN,NL,91,241,28,58,12,...,27.0,6.0,3.0,27,39.0,3.0,0.0,0.0,0.0,5.0
72437,martida01,1994,1,SFN,NL,97,235,23,58,9,...,27.0,3.0,4.0,21,22.0,1.0,2.0,2.0,0.0,6.0
73590,martida01,1995,1,CHA,AL,119,303,49,93,16,...,37.0,8.0,2.0,32,41.0,2.0,1.0,9.0,4.0,6.0
74841,martida01,1996,1,CHA,AL,146,440,85,140,20,...,53.0,15.0,7.0,52,52.0,1.0,3.0,2.0,1.0,4.0
76102,martida01,1997,1,CHA,AL,145,504,78,144,16,...,55.0,12.0,6.0,55,69.0,7.0,3.0,5.0,6.0,4.0
77368,martida01,1998,1,TBA,AL,90,309,31,79,11,...,20.0,8.0,7.0,35,52.0,4.0,2.0,0.0,1.0,5.0
78686,martida01,1999,1,TBA,AL,143,514,79,146,25,...,66.0,13.0,6.0,60,76.0,3.0,5.0,10.0,5.0,6.0
80014,martida01,2000,1,TBA,AL,29,104,12,27,4,...,12.0,1.0,4.0,10,17.0,1.0,0.0,1.0,2.0,1.0
80015,martida01,2000,2,CHN,NL,18,54,5,10,1,...,1.0,1.0,0.0,2,8.0,0.0,0.0,0.0,0.0,0.0
80016,martida01,2000,3,TEX,AL,38,119,14,32,4,...,12.0,2.0,1.0,14,20.0,2.0,1.0,0.0,0.0,8.0
80017,martida01,2000,4,TOR,AL,47,180,29,56,10,...,22.0,4.0,2.0,24,28.0,0.0,1.0,0.0,1.0,3.0
81374,martida01,2001,1,ATL,NL,120,237,33,68,11,...,20.0,3.0,3.0,21,44.0,0.0,1.0,0.0,0.0,10.0

In [8]:
def initial_drop(df):
    drop_list = ['teamID', 'lgID', 'stint']
    df.drop(drop_list, inplace=True, axis=1)

In [9]:
initial_drop(batting_df)

In [10]:
def combine_stints(df):
    df = df.groupby(['playerID', 'yearID']).sum()
    return df.reset_index(level=['playerID', 'yearID'])

In [11]:
batting_df = combine_stints(batting_df)

In [16]:
batting_df.head(20).sort_values(['playerID', 'yearID'])

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,2004,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,2006,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,2007,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,2008,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,2009,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,aardsda01,2010,53,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
6,aardsda01,2012,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
7,aardsda01,2013,43,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,aardsda01,2015,33,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
9,aaronha01,1954,122,468,58,131,27,6,13,69.0,2.0,2.0,28,39.0,0.0,3.0,6.0,4.0,13.0
10,aaronha01,1955,153,602,105,189,37,9,27,106.0,3.0,1.0,49,61.0,5.0,3.0,7.0,4.0,20.0
11,aaronha01,1956,153,609,106,200,34,14,26,92.0,2.0,4.0,37,54.0,6.0,2.0,5.0,7.0,21.0
12,aaronha01,1957,151,615,118,198,27,6,44,132.0,1.0,1.0,57,58.0,15.0,0.0,0.0,3.0,13.0
13,aaronha01,1958,153,601,109,196,34,4,30,95.0,4.0,1.0,59,49.0,16.0,1.0,0.0,3.0,21.0
14,aaronha01,1959,154,629,116,223,46,7,39,123.0,8.0,0.0,51,54.0,17.0,4.0,0.0,9.0,19.0
15,aaronha01,1960,153,590,102,172,20,11,40,126.0,16.0,7.0,60,63.0,13.0,2.0,0.0,12.0,8.0
16,aaronha01,1961,155,603,115,197,39,10,34,120.0,21.0,9.0,56,64.0,20.0,2.0,1.0,9.0,16.0
17,aaronha01,1962,156,592,127,191,28,6,45,128.0,15.0,7.0,66,73.0,14.0,3.0,0.0,6.0,14.0
18,aaronha01,1963,161,631,121,201,29,4,44,130.0,31.0,5.0,78,94.0,18.0,0.0,0.0,5.0,11.0
19,aaronha01,1964,145,570,103,187,30,2,24,95.0,22.0,4.0,62,46.0,9.0,0.0,0.0,2.0,22.0

In [13]:
batting_df[batting_df['playerID'] == 'martida01'].sort_values('yearID')

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
54168,martida01,1986,53,108,13,15,1,1,1,7.0,4.0,2.0,6,22.0,0.0,1.0,0.0,1.0,1.0
54169,martida01,1987,142,459,70,134,18,8,8,36.0,16.0,8.0,57,96.0,4.0,2.0,1.0,1.0,4.0
54170,martida01,1988,138,447,51,114,13,6,6,46.0,23.0,9.0,38,94.0,8.0,2.0,2.0,5.0,3.0
54171,martida01,1989,126,361,41,99,16,7,3,27.0,23.0,4.0,27,57.0,2.0,0.0,7.0,1.0,1.0
54172,martida01,1990,118,391,60,109,13,5,11,39.0,13.0,11.0,24,48.0,2.0,1.0,3.0,2.0,8.0
54173,martida01,1991,124,396,47,117,18,5,7,42.0,16.0,7.0,20,54.0,3.0,3.0,5.0,3.0,3.0
54174,martida01,1992,135,393,47,100,20,5,3,31.0,12.0,8.0,42,54.0,4.0,0.0,6.0,4.0,6.0
54175,martida01,1993,91,241,28,58,12,1,5,27.0,6.0,3.0,27,39.0,3.0,0.0,0.0,0.0,5.0
54176,martida01,1994,97,235,23,58,9,3,4,27.0,3.0,4.0,21,22.0,1.0,2.0,2.0,0.0,6.0
54177,martida01,1995,119,303,49,93,16,4,5,37.0,8.0,2.0,32,41.0,2.0,1.0,9.0,4.0,6.0
54178,martida01,1996,146,440,85,140,20,8,10,53.0,15.0,7.0,52,52.0,1.0,3.0,2.0,1.0,4.0
54179,martida01,1997,145,504,78,144,16,6,12,55.0,12.0,6.0,55,69.0,7.0,3.0,5.0,6.0,4.0
54180,martida01,1998,90,309,31,79,11,0,3,20.0,8.0,7.0,35,52.0,4.0,2.0,0.0,1.0,5.0
54181,martida01,1999,143,514,79,146,25,5,6,66.0,13.0,6.0,60,76.0,3.0,5.0,10.0,5.0,6.0
54182,martida01,2000,132,457,60,125,19,5,5,47.0,8.0,7.0,50,73.0,3.0,2.0,1.0,3.0,12.0
54183,martida01,2001,120,237,33,68,11,3,2,20.0,3.0,3.0,21,44.0,0.0,1.0,0.0,0.0,10.0

In [33]:
def create_averages(df):
    avg_df = df.drop('yearID', axis=1)
    avg_df = avg_df.groupby('playerID').mean()
    avg_df['total_seasons'] = [len(df[df['playerID'] == player]) for player in df['playerID'].unique()]
    return avg_df

In [31]:
avg_df = create_averages(batting_df)

In [32]:
avg_df.head()

,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,total_games
playerID,,,,,,,,,,,,,,,,,,
aardsda01,36.777778,0.444444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.111111,0.000000,0.000000,9
aaronha01,143.391304,537.565217,94.521739,163.956522,27.130435,4.260870,32.826087,99.869565,10.434783,3.173913,60.956522,60.130435,12.739130,1.391304,0.913043,5.260870,14.260870,23
aaronto01,62.428571,134.857143,14.571429,30.857143,6.000000,0.857143,1.857143,13.428571,1.285714,1.142857,12.285714,20.714286,0.428571,0.000000,1.285714,0.857143,5.142857,7
aasedo01,34.461538,0.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.230769,0.000000,0.000000,0.000000,0.000000,0.000000,13
abadan01,5.000000,7.000000,0.333333,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,1.333333,1.666667,0.000000,0.000000,0.000000,0.000000,0.333333,3